* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto';
    background-color:antiquewhite
}

h1 {
    display: flex;
    align-self: center;
    justify-content: center;
    font-size: 50px;
    color: chocolate;
}

#scetchGridContainer {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    gap: 2px;
    border: 1px solid black;

}

.cell {
    display: flex;
    background-color: aqua;
    border: 1px solid tomato;
    aspect-ratio: 1 / 1;
    flex: 0 0 calc(100% / 16 - 2px);
}